[submodule "crowd-management-api"]
	path = crowd-management-api
	url = https://github.com/AzamatAbraev/crowd-management-api.git
[submodule "crowd-management-gateway"]
	path = crowd-management-gateway
	url = https://github.com/AzamatAbraev/crowd-management-gateway.git
[submodule "people-counter-frontend"]
	path = people-counter-frontend
	url = https://github.com/AzamatAbraev/crowd-management-ui.git
[submodule "iot-simulator"]
	path = iot-simulator
	url = https://github.com/AzamatAbraev/crowd-management-iot-simulator.git
